
/* footer section */

footer {
    margin-top: 80px;
    background: #E9EFEF;
    width: 100%;
    justify-content: center;
    padding-top: 46px;
    padding-bottom: 20px;
}

footer .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    margin: 0 auto;
}


.social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    list-style: none;
    justify-content: space-around;
}

ul.social-footer a {
    text-decoration: none;
    color: #10838d;
}

footer .footer-text {
    text-align: center;
    width: 100%;
}

.footer-menu {

    margin: 0 auto;
    padding-bottom: 20px;
    border-top: 1px solid hsla(0, 0%, 100%, .22);
}

.footer-menu ul {
    margin: 0;
    padding: 0;

}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    letter-spacing: .18em;
    font-size: 13px;
    text-decoration: none;
    color: #aeaeae;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 10px;
}